body {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    min-height: 100vh;
    font-family: monospace;
    margin: 0;
    background-color: #333;
    color: white;
}

canvas {
    border-radius: 50%;
}

ul {
    list-style: none;
    padding: 0;
    height: 200px;
    width: 400px;
    overflow: auto;
    white-space: nowrap;
}

textarea {
    width: 400px;
    height: 300px;
    resize: none;
    background-color: #222;
    border: #000;
    color: white;
    padding: 1rem;
    outline: none;
    margin-left: 1rem;
    margin-bottom: 1rem;
}

body div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

button {
    color: white;
    font-family: monospace;
    border: none;
    background-color: #222;
    border-radius: 0;
    padding: .5rem 1rem;
    margin-left: 1rem;
}

@media screen and (max-width: 1200px) {
    html {
        width: 100%;
    }

    body {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    body div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    textarea {
        margin-top: 1rem;
        width: 100%;
        height: 100px;
        margin-left: 0;
        margin-bottom: 1rem;
    }

    ul {
        margin-top: 1rem;
        width: 100%;
        margin-left: 0;
    }

    canvas {
        width: 500px;
    }

    button {
        margin-left: 0;
    }
}